/* MOBILE NAVBAR */
@media (max-width: 48rem) {
  #main-header nav {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  #main-header h1 {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }

  #travel-options ul {
    grid-template-columns: 100%;
  }
}


/* MEDIAQUERIES */


